################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Project3/FileContentIndex
/Project3/obj
/.vs
/Project3/bin
/Project3/appsettings.json
